<template>
  <v-card>
    <v-card v-if="Media" height="50vh" width="100%" class="mediaCard" hover>
      <v-layout fill-height align-space-around row>
        <v-flex xs4 sm2 md2 lg2 xl2 style="padding:0">
          <img :src="Media.coverImage.large" width="100%" height="50%" class="imageCard">
        </v-flex>
        <v-flex xs8 sm10 md10 lg10 xl10 style="overflow-y: auto">
          <div>
            <div class="headline">{{ Media.title.romaji }}</div>
            <div class="grey--text">{{ Media.description }}</div>
            <div @click="$router.go(-1)">Lolz go back</div>
          </div>
        </v-flex>
      </v-layout>
    </v-card>
  </v-card>
</template>

<script>
import { animeId } from "~/apollo/animes";

export default {
  data() {
    return {
      id: this.$route.params.id,
      loading: 0
    };
  },
  apollo: {
    Media: {
      query: animeId,
      variables() {
        return { id: this.id };
      }
    }
  }
};
</script>


