<template>
  <v-layout justify-center column xs12 sm12 md12 lg12 xl12>
    <v-layout align-center justify-center row xs10 sm10 md10 lg10 xl10>
      <v-flex xs12 sm12 md12 lg7 xl7>
        <v-card color="transparent" class="carouselDashboard" flat>
          <v-carousel height="100%" hide-delimiters hide-controls>
            <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src"/>
          </v-carousel>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout align-center justify-center row xs10 sm10 md10 lg10 xl10>
      <anime-slider v-bind="CaracPage" height="100%" class="slider"/>
    </v-layout>
    <v-layout align-center justify-center row xs10 sm10 md10 lg10 xl10>
      <v-flex xs12 sm12 md12 lg7 xl7>
        <v-subheader>Must watch</v-subheader>
        <v-card flat>
          <anime-list v-bind="CaracList" height="100%"/>
        </v-card>
      </v-flex>
    </v-layout>
  </v-layout>
</template>

<script>
import AnimeSlider from "~/components/AnimeSlider.vue";
import AnimeList from "~/components/AnimeList.vue";

export default {
  components: {
    AnimeSlider,
    AnimeList
  },
  data() {
    return {
      CaracPage: {
        totalMedia: 24,
        mediaPerPageParam: 6
      },
      CaracList: {
        totalMedia: 30
      },
      items: [
        {
          src:
            "https://initiate.alphacoders.com/images/183/cropped-1600-900-183401.jpg?6247"
        },
        {
          src:
            "https://initiate.alphacoders.com/images/487/cropped-1600-900-487189.jpg?1753"
        },
        {
          src:
            "https://initiate.alphacoders.com/images/933/cropped-1600-900-933850.jpg?984"
        },
        {
          src:
            "https://initiate.alphacoders.com/images/566/cropped-1600-900-566163.jpg?2640"
        }
      ]
    };
  }
};
</script>

<style>
.carouselDashboard {
  height: 34vh;
}

@media screen and (max-width: 600px) {
  .slider {
    display: none;
  }
  .carouselDashboard {
    height: 19vh;
  }
}
</style>
