<template>
  <v-layout align-center justify-center row wrap xs10 sm10 md10 lg10 xl10>
    <v-container fluid grid-list-lg>
      <v-layout row wrap>
        <v-flex v-for="media in Page.media" :key="media.id" xs12 height="20vh">
          <v-card
            :to="{ name: 'animes-id', params: { id: media.id}}"
            height="20vh"
            width="100%"
            class="mediaCard"
            hover
          >
            <v-layout fill-height align-space-around row>
              <v-flex xs4 sm2 md2 lg2 xl2 style="padding:0">
                <img :src="media.coverImage.large" width="100%" height="100%" class="imageCard">
              </v-flex>
              <v-flex xs8 sm10 md10 lg10 xl10 style="overflow-y: auto">
                <div>
                  <div class="headline">{{ media.title.romaji }}</div>
                  <div class="grey--text">{{ media.description | limitTo3Lines }}</div>
                </div>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-layout>
</template>


<script>
import { animesPage2 } from "~/apollo/animes";

export default {
  filters: {
    limitTo3Lines: function(string) {
      return string.substring(0, 330).replace(/<br\s*[\/]?>/gi, "");
      +"...";
    }
  },
  props: {
    totalMedia: {
      type: Number,
      default: 6
    }
  },
  data() {
    return {
      Page: {},
      pageNumber: 1,
      total: this.totalMedia,
      showRating: false
    };
  },
  apollo: {
    Page: {
      query: animesPage2,
      variables() {
        return { page: 1, total: this.total };
      }
    }
  },
  methods: {
    pageUp() {
      this.pageNumber++;
      this.$apollo.queries.Page.fetchMore({
        variables: { page: this.pageNumber },
        updateQuery: (previousResult, { fetchMoreResult }) => {
          this.hasNextPage = fetchMoreResult.Page.pageInfo.hasNextPage;
          const type = previousResult.Page.__typename;
          console.info();

          return {
            Page: {
              __typename: type,
              pageInfo: fetchMoreResult.Page.pageInfo,
              media: fetchMoreResult.Page.media
            }
          };
        }
      });
    }
  }
};
</script>

<style>
@media screen and (max-width: 480px) {
  .description {
    display: none;
  }
}
</style>
