<template>
  <v-layout align-center justify-center row xs10 sm10 md10 lg10 xl10>
    <v-flex xs1 sm1 md1 lg1 xl1>
      <v-layout align-center justify-center row>
        <v-btn v-if="onboarding != 0" large icon color="primary" @click="prev">
          <v-icon>keyboard_arrow_left</v-icon>
        </v-btn>
      </v-layout>
    </v-flex>
    <v-flex xs12 sm12 md12 lg7 xl7>
      <v-card height="34vh" color="transparent" flat>
        <v-container fluid grid-list-md text-xs-center>
          <v-window v-model="onboarding">
            <v-window-item v-for="tab in total/pagination.mediaPerPage" :key="tab">
              <v-layout row wrap="">
                <v-flex v-for="(media,index) in Page[tab-1]" :key="index" xl2 lg2 md2 sm2 xs4>
                  <v-card height="100%" width="100%" class="mediaCard" hover>
                    <img
                      :src="media.coverImage.large"
                      width="100%"
                      height="205vh"
                      class="imageCard"
                    >
                    <v-card-text>
                      <div class="cardText">{{ media.title.romaji }}</div>
                    </v-card-text>
                    <v-spacer/>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-window-item>
          </v-window>
        </v-container>
      </v-card>
    </v-flex>
    <v-flex xs1>
      <v-layout align-center justify-center row>
        <v-btn
          v-if="onboarding != (total/pagination.mediaPerPage)-1"
          large
          icon
          color="primary"
          @click="next"
        >
          <v-icon>keyboard_arrow_right</v-icon>
        </v-btn>
      </v-layout>
    </v-flex>
  </v-layout>
</template>


<script>
import { animesPage } from "~/apollo/animes";

export default {
  props: {
    totalMedia: {
      type: Number,
      default: 6
    },
    mediaPerPageParam: {
      type: Number,
      default: 6
    }
  },
  data() {
    return {
      Page: [],
      pageNumber: 1,
      total: this.totalMedia,
      pagination: {
        mediaPerPage: this.mediaPerPageParam
      },
      hasNextPage: true,
      onboarding: 0,
      showRating: false,
      rating: 3
    };
  },
  apollo: {
    Page: {
      query: animesPage,
      variables() {
        return { page: 1, total: this.total };
      },
      //TODO Handle the case when there is less result than we expect
      update(data) {
        var mediaArray = [];
        var i;

        //Slice the array into multiple arrays representing pages of nb * media (nb = mediaPerPage)
        for (i = 0; i < this.total; i += this.pagination.mediaPerPage) {
          mediaArray.push(
            data.Page.media.slice(i, i + this.pagination.mediaPerPage)
          );
        }

        //We used page to specify how many media we wanted but we just want the media array
        return mediaArray;
      }
    }
  },
  methods: {
    pageUp() {
      this.pageNumber++;
      this.$apollo.queries.Page.fetchMore({
        variables: { page: this.pageNumber },
        updateQuery: (previousResult, { fetchMoreResult }) => {
          this.hasNextPage = fetchMoreResult.Page.pageInfo.hasNextPage;
          const type = previousResult.Page.__typename;
          console.info();

          return {
            Page: {
              __typename: type,
              pageInfo: fetchMoreResult.Page.pageInfo,
              media: fetchMoreResult.Page.media
            }
          };
        }
      });
    },
    next() {
      this.onboarding =
        this.onboarding + 1 === this.total / this.pagination.mediaPerPage
          ? 0
          : this.onboarding + 1;
    },
    prev() {
      this.onboarding =
        this.onboarding - 1 < 0
          ? this.total / this.pagination.mediaPerPage - 1
          : this.onboarding - 1;
    }
  }
};
</script>

<style>
.cardText {
  display: block;
  flex-direction: column;
  white-space: pre;
  width: "100%";
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>