<template>
  <v-app :dark="dark">
    <v-navigation-drawer
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      width="250"
      fixed
      app
    >
      <v-list>
        <v-list-tile v-for="(item, i) in items" :to="item.to" :key="i" router exact>
          <v-list-tile-action>
            <v-icon v-html="item.icon"/>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"/>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar :clipped-left="clipped" fixed app>
      <v-toolbar-side-icon @click="drawer = !drawer"/>
      <v-toolbar-title v-text="title"/>
      <v-spacer/>
      <v-btn flat icon color="grey" alt="Night Mode" @click="dark = !dark">
        <v-icon>invert_colors</v-icon>
      </v-btn>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-list class="pa-0">
          <v-list-tile avatar>
            <v-list-tile-avatar>
              <img
                src="https://pm1.narvii.com/6621/07efaf9c93441f0c9275dde01be42a9a489f30cc_hq.jpg"
              >
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>Pirate King</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <v-container>
        <nuxt/>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: true,
      dark: true,
      drawer: true,
      fixed: false,
      items: [
        { icon: "apps", title: "Dashboard", to: "/" },
        { icon: "bubble_chart", title: "Animes", to: "/animes" },
        { icon: "bubble_chart", title: "Favorites", to: "/favorites" },
        { icon: "bubble_chart", title: "Discover", to: "/discover" },
        { icon: "bubble_chart", title: "Backgrounds", to: "/backgrounds" }
      ],
      miniVariant: false,
      right: true,
      title: "AnimeStar"
    };
  }
};
</script>
