<template>
  <v-layout>
    <v-flex text-xs-center>
      <img
        src="/v.png"
        alt="Vuetify.js"
        class="mb-5">
      <blockquote class="blockquote">
        &#8220;About route (meant to be modified) &#8221;
      </blockquote>
    </v-flex>
  </v-layout>
</template>
